﻿@model OptionsQuestionViewModel

 <form asp-controller="OptionQuestions" asp-action="CreateOptionQuestion">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="button" id="saveOptionsQuestionBtn" asp-controller="OptionsQuestions" asp-action="CreateOption">Create Option</button>
                </form>
