﻿@model FormViewModel

@{
    ViewData["Title"] = "Details";
}

    <link href="~/css/formDetails.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <div id="formContainer">
<div id="PlaceHolderHere"></div>
<div id="PlaceHolderHere2"></div>



<div class="container">
    <h1>
        @Html.DisplayFor(model => model.Title)
    </h1>
    <hr />
    <h2>
        @Html.DisplayFor(model => model.Description)
    </h2>

</div>

@if (Model.TextQuestions.Any())
{
    @foreach (var item in Model.TextQuestions)
    {
        <div class="textQ_containter"data-questionId="@Model.Id">
        <div>
            <h2 class="text-center">
                @item.Title
            </h2>

            <p class="desc">
                @item.Description
            </p>


            @if (item.IsLongAnswer == true)
            {
                <p class="impact text-center" >
                    Is Long Answer
                </p>
            }
            @if (item.IsRequired == true)
            {
                <p class="impact text-center">
                    Is Required
                </p>
            }
        </div>
        <div class="text-center">

        <button type="button" data-questionId="@Model.Id" class="btn btn-primary editQuestionBtn">Edit</button>
        </div>

        </div>
    }
}

<div class="container">
<div id="txtQC" class=""></div>
</div>

<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
      </div>
    </div>
  </div>
</div>

<button type="button" id="createTQBtn" class="btn btn-primary" data-toggle="modal" data-target="#mainModal"
        data-formid="@Model.Id" data-url="@Url.Action("CreateTextQuestion")">
    Create TextQuestion
</button>
<button type="button" id="idButton2" class="btn btn-primary" data-toggle="ajax-modal" data-target="#OptionQeustionVM"
        data-formid="@Model.Id" data-url="@Url.Action("CreateOptionQuestion")">
    Create Option Question
</button>
<button type="button" id="idButton3" class="btn btn-primary" data-toggle="ajax-modal" data-target="#DocumentQuestionVM"
        data-formid="@Model.Id" data-url="@Url.Action("CreateDocumentQuestion")">
    Create Document Question
</button>




@section Scripts {
        <script>
            //Add text question
          //Add text question
          $('#createTQBtn').on('click', function () {
            $.ajax({
              method: 'GET',
              url: '/TextQuestions/CreateTextQuestion'
            }).done(function (createQuestionPartialView) {
              $('div.modal-body').html(createQuestionPartialView)
              $('#mainModal').modal('show')
            })
          debugger


            $('#saveBtn').on('click', function () {
              let formData = $('#textQuestionId').serialize()
              let formId = $('createTQBtn').attr('data-formid')

              $.ajax({
                method: 'POST',
                url: `/TextQuestions/CreateTextQuestion?FormId=${formId}`,
                data: formData
              }).done(function (data) {
                $('#mainModal').modal('hide')

                //let cardElement = $($eventTarget.closest('.textQ_container'))
                $('#txtQC').append(data).collapse('show')
              })
            })
          })
           
          

          //Edit text question
          function editBtnHandler(event) {
            $eventTarget = $(event.target)

            if ($eventTarget.hasClass('editQuestionBtn')) {
              let questionId = $eventTarget.attr('data-questionId')

              $.ajax({
                method: 'GET',
                url: `/TextQuestion/Edit/`,
                data: questionId
              }).done(function (createTextQuestionPartialView) {
                $('div.modal-body').html(createTextQuestionPartialView)
                $('#mainModal').modal('show')
              })

              $('#saveBtn').off()

              $('#saveBtn').on('click', function () {
                let formData = $('#editQuestionForm').serialize()

                $.ajax({
                  method: 'POST',
                  url: `/TextQuestion/Edit`,
                  data: formData
                }).done(function (saveEdit) {
                  $('#mainModal').modal('hide')
                  let cardElement = $($eventTarget.closest('.textQ_container'))
                  cardElement.innerHtml = saveEdit
                })
              })



            }
          }
         
          $('#formContainer').on('click',editBtnHandler)

        </script>

    }
}
    </div>
