﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout";
}

<link href="~/css/LogIn.css" rel="stylesheet" />


<body style="background: #2d3436">
</body>

<div class="login-box">
    <h1>Login</h1>
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input asp-for="Input.Email" type="text" placeholder="Username">
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input asp-for="Input.Password" type="password" placeholder="Password">
        </div>

        <input type="submit" class="btn" value="Log In" />
            
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
    </form>
</div>

@*<div class="box">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" style="color:white"></label>
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" style="color:white"></label>
                    <input asp-for="Input.Password" class="form-control" />

                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" style="color:white">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" name="" value="Login">
                </div>
                <div class="form-group">
                    <p style="color:white">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p style="color:white">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>*@



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
