﻿@model TextQuestionViewModel

                <form id="textQuestionId"asp-controller="TextQuestions" asp-action="CreateTextQuestion">
                    <div class="form-group">
                      <input type="hidden" value="@Model.Id" name="TextQuestionViewModel.Id"/>
                      <input type="hidden" value="@Model.FormId" name="FormViewModel.Id"/>
                        <label asp-for="Title"></label>
                        <input id="modalTitle" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                        <label asp-for="Description"></label>
                        <input id="modalDesc" asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span> 
                    </div>
                    <input id="modalCheckLongA" type="checkbox"/> Long answer
                    <input id="modalCheckReqA" type="checkbox"/> Required answer
                   
                </form>
           