﻿*{
    font-family:sans-serif;
    
}

body {
    background: #2d3436;
}

.container {
    text-align: center;
    background-color: white;
   
}

.containerTXQ{
    border-style: solid;

}

    .container h1 {
       
    }
    .container p {
        color: white;
    }

.textQ_containter {
    border-style: solid;
    border-radius: 10px;
    background: white;
}
.textQ_containter p{
   color:black;
}