﻿.button{
    text-decoration: none;
    color: #1fe8b6;
    border: 3px solid;
    padding: 2rem 5rem;
    font-size: 2.5rem;
}

.buttonContainer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

