﻿*,
*::before,
*::after
{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.container {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

.content{
    margin-top:500px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    text-align:center;
    color:white;
    border: 4px solid white;
}

.control-label{
    font-size: 3.5rem;
    display:flex;
    justify-content:center;
}

.form-control{
    font-size: 2rem;
}


body {
   
    background: #2d3436;
}

.bttn {
    text-decoration: none;
    color: #1fe8b6;
    border: 1.5px solid #1fe8b6;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    position:relative;
    transition: all .5s;
}

    .bttn::before,
    .bttn::after {
        content: "";
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-style: solid;
        border-color: #1fe8b6;
        transition: all .5s;
    }

    .bttn::before{
        top: -1.5rem;
        left: -1.5rem;
        border-width: 1.5px 0 0 1.5px;
        
    }  

    .bttn::after{
        bottom: -1.5rem;
        right: -1.5rem;
        border-width: 0 1.5px 1.5px 0;
        
    }

    .bttn:hover::before,
    .bttn:hover::after {
        width: calc(100% + 3rem);
        height: calc(100% + 3rem);
        border-color: #fff;
    }

.bttn:hover{
    color: #272838;
    background-color: #fff;
    border-color: #fff;
}