﻿
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: Verdana,sans-serif;
    font-size: 10px;
}

img{
    width:100%;
}


.contentWrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2d3436;
}


.formContainer{
   
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display:flex;
    align-items:center;
    border-radius: .8rem;

}

.formContainer_img{
    min-width:35rem;
    max-width:35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.formContainer_img img{
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.formContainer_img::before{
    content: '';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(to right, rgba(79, 172, 245, .8),
    rgba(0, 242, 254, .8));

    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0, .05);
    border-radius: .8rem;
}

.formContainer_title{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.formContainer_desc {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0,0,0, .7);
}

.formContainer_button{

    display:inline-block;

    padding: 1.5rem 3rem;

    letter-spacing: 1px;

    text-transform: uppercase;

    font-size: 1.2rem;

    color: #fff;

    background-image: linear-gradient(to right, #4fcafe 0%, #00f2fe 100%);

    border-radius: .8rem;

    text-decoration: none;


}

    .formContainer_button:hover {
        background-image: linear-gradient(to right, #00f2fe 0%, #4fcafe 100%);
    }

@media screen and (max-width: 1068px){

    .formContainer{
        max-width: 80rem;
    }

    .formContainer_img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px) {

    .formContainer {
        max-width: 70rem;
    }

}

@media screen and (max-width: 768px) {

    .formContainer {
        padding: 2.5rem;
        flex-direction: column;
    }

    .formContainer_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}

