﻿*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-weight: 100;
    font-family: Rockwell, sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    color: #333;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.container .title{
    padding: 6rem;
}

    .container h1 {
        font-size: 4.5rem;
        color: white;
        margin-right: -1rem;
    }

    .container h2 {
        font-size: 7rem;
        margin-right: -1rem;
        color: white;
        color: #fff;
        z-index: 10;
        opacity: 0.8;
    }

.container h3{
    font-size: 1.4rem;
    color:white;
    line-height: 0;
    padding: 1rem 0;
}

.between{
    height: 60rem;
    position: relative;
}

.bg{
    width: 100%;
    background-color: rgba(0,0,0, .5);
    padding: 2rem 0;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .ny {
    background-image: url('https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.container .du {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Fsign-in-page-on-computer-screen-desktop-computer-with-login-form-and-vector-id831418828%3Fk%3D6%26m%3D831418828%26s%3D170667a%26w%3D0%26h%3Dp7m9I-3lKT2GWNZjcp1ycVOtBfZgcmwz-ACDvCVZC_k%3D&f=1&nofb=1');
}
.container .jp {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fhdqwalls.com%2Fdownload%2Fchurei-tower-mount-fuji-in-japan-8k-68-7680x4320.jpg&f=1&nofb=1');
}

.container .parallax{
    width: 100%;
    padding: 25rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;

}